/* Styling for the form with id login-form */
#login-form {
    margin: 50px auto;  /* vertical margin, horizontal auto */
    width: 300px;       /* fixed width */
    border-radius: 5px; /* rounded corners */
    background-color: #f2f2f2;  /* light grey background */
    padding: 20px;      /* padding around the form content */
}

/* Styling for all input elements */
input {
    display: block;    /* each input element will take up the full width */
}

/* Styling for the text input fields */
.text-input {
    width: 100%;           /* full width of the form */
    padding: 10px;         /* space inside the input field */
    margin: 10px 0;        /* margin between input fields */
    border: 1px solid #ccc; /* light grey border */
    border-radius: 5px;    /* rounded corners */
}

/* Styling for the submit button */
.button-input {
    width: 100%;              /* full width of the form */
    background-color: #0d6efd; /* blue background */
    color: white;             /* white text color */
    padding: 10px;            /* space inside the button */
    margin: 10px 0;           /* margin around the button */
    border: 1px solid #ccc;    /* light grey border */
    border-radius: 5px;        /* rounded corners */
    cursor: pointer;           /* cursor changes to pointer on hover */
}
